@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
	color: #efeff3;
	background: linear-gradient(to top right, #0f0104, #2b0d0d) #0f0104;
}

h1 {
	@apply text-2xl font-bold;
}
